/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
    color: #333;
    text-align: center;
    cursor: url('https://cdn.pixabay.com/photo/2016/12/14/23/08/crosshair-1901045_960_720.png'), auto;
}

header {
    background-color: #000;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 150px;
    height: auto;
}

.social-icons {
    margin: 20px 0;
}

.social-icons .icon {
    color: #000;
    margin: 0 15px;
    font-size: 40px;
    transition: color 0.3s ease;
}

.social-icons .icon:hover {
    color: #555;
}

.message-section {
    margin: 40px 20px;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
}

footer {
    margin-top: 40px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

/* Estilizando o cursor */
body, a {
    cursor: url('https://cdn.pixabay.com/photo/2016/12/14/23/08/crosshair-1901045_960_720.png'), auto;
}
